<% content_for :javascript_in_head do %>
<%= javascript_include_tag "memo_item_index" %>
<% end %>

<h1>Listing memo_items</h1>

<div>
<a id="view_mode_link" class="selected" href="javascript:changeToViewMode();">view</a>
<a id="edit_mode_link" class="unselected" href="javascript:changeToEditMode();">edit</a>
</div>
<div>
<%= link_to 'New Memo item', new_memo_item_path, class: "hidden memo_item_actions" %>
</div>
<div id="bar">
  <% @memo_items.each do |memo_item| %>
  <div class="memo_item_in_index">
    <div>
      <%= link_to memo_item.body, memo_item_path(memo_item), class: "memo_item_body_with_href" %>
      <% memo_item.metadata.each do |datum| %>
      <span class="memo_item_metadata_in_index"><%= datum.name %></span>
      <% end %>
    </div>
    <div class="hidden memo_item_actions">
      <!-- <%= link_to 'Show', memo_item_path(memo_item) %> -->
      <%= link_to 'Edit', edit_memo_item_path(memo_item) %>
      <%= link_to 'Destroy', memo_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Memo item', new_memo_item_path, class: "hidden memo_item_actions" %>

