<!DOCTYPE html>
<html>
<head>
  <title>Memo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_in_head %>
  <%= yield :stylesheet_in_head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
